@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  height: 200px;
  width: 570px;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', serif;
}

#navbar {
  background: #eaecf5;
  display: flex;
}

#logo-navbar {
  padding: 40px;
  margin: 30px 30px 30px 5px;
}

.client {
  border-bottom-right-radius: 250px;
  float: right;
  margin-top: -200px;
}

#showcase {
  color: #8548ff;
  font-size: 18px;
}

#showcase1-container {
  margin: 20px;

}

h1 {
  margin: 20px 20px -30px 20px;
}

p {
  margin: 20px 20px 0 20px;

}

#mensagem-cadastro {
  font-size: 32px;
  margin-left: 20px;
  margin-top: 20px;
}

#showcase2-cantainer {
  margin: 20px;
  font-size: 18px;
}

#seção-container {
  border: 3px solid #8548ff;
  border-radius: 3%;
  width: 90%;
  height: 300%;
  margin: 40px 70px 70px 20px;

}

#barra-container {
  background-color: #8548ff;
  color: #FFFF;
  display: flex;
  font-size: 18px;
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}

#titulo-container {
  padding: 30px;
  width: 70%;
}

#vetor-titulo {
  float: right;
  margin: -162px 20px 0 0;
}

.seção {
  display: flex;
  flex-direction: column;
  width: 85%;
  font-size: 17px;
  padding: 0;
  margin-bottom: 10px;
}

#seções {
  display: flex;
  flex-direction: row;
  color: #8548ff;
}

.perfil {
  margin: -70px 10px 0 -120px;
}

.ordem-seção {
  font-size: 42px;
  color: darkgrey;
  font-weight: bold;
  margin: 30px 0 0 20px;
}

.mensagem-seção {
  margin: -46px 0 -15px 50px;
}

#lembrete {
  background: #ededed;
  width: 91%;
  height: 66%;
  margin-top: -40px;
  margin-left: 20px;
  border-radius: 25px;
}

#mensagem {
  padding: 2px;
  width: 70%;
  font-size: 18px;
  color: #8548ff;
}

#element {
  float: right;
  margin-top: -60px;
  margin-right: 30px;
}

#informações-container {
  background: #8548ff;
  margin-top: 50px;
  color: #FFFF;
  height: 430px;
  font-size: 8px;
}

#mensagem-container {
  padding: 30px;
  margin-left: -10px;
  font-size: 16px;
}

#barra-superior-container {
  border-bottom-style: solid;
  border-color: #7445ef;
  border-width: 1px;
  margin-left: 40px;
  margin-right: 20px;
}

#redes-sociais-container {
  display: flex;
  float: right;
  margin-top: -10px;
}

#icone {
  background-image: url('img/redes sociais.svg');
  width: 160px;
  height: 160px;
  background-size: cover;

}

#logo-footer {
  margin: 50px 0 0 0;
  padding-bottom: 10px;
}

#barra-inferior-container {
  margin-left: 20px;
}

#copy {
  float: right;
  margin-top: -20px;
}
